.card {
    margin: 0.5rem;
    background-color: #181818;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.2s;
    position: relative;
}

.card:hover {
    scale: 1.025;
}

.film_image {
    display: block;
    width: 100%;
}

.card_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.75rem;
    gap: 0.5rem;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.3s;
}

.card_body:hover{
    opacity: 1;
    background-color: #181818b0;
}

.titles {
    text-align: center;
    font-size: 18px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 14px;
}

.details p span {
    font-style: oblique;
    color: white;
    border-radius: 10px;
    color: #1cc88c;
}

.language {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.flag_image {
    width: 30px;
    height: auto;
    display: block;
}


/* UTILITIES */
.star_full {
    color: #dc1a28;
}

.star_empty {
    color: #e4e5e9;
}